<h1>Notes Summary</h1>
<br>
{% if user.is_authenticated %}
{% if notes %}
<table>
<tr> 
<th>Title</th><th>Instructor</th><th>Session Date</th>
</tr>
  {% for note in notes %}
<tr> 
<td>{{ note.note_title}}</td><td>{{note.note_instructor}}</td><td>{{note.note_date}}</td>
<td>
     <input type="button" value="View" onClick="location.href='{% url 'notes:detail' note.id%}'"/>
     <input type="button" value="Update" onClick="location.href='{% url 'notes:update' note.id%}'"/>
     <input type="button" value="Delete" onClick="location.href='{% url 'notes:delete' note.id%}'"/>
</td>
</tr> 
  {% endfor %}
</table>
{% else %}
  <p>No notes are available.</p>
{% endif %}
<br>
<br>
<input type="button" value="Create New Note" onClick="location.href='{% url 'notes:create' %}'"/>
<input type="button" value="Logout" onClick="location.href='{% url 'logout' %}?next=/'"/>
{% else %}
Please login.
{% endif %}


