{% extends 'base.html' %}

{% block title %}Create Note{% endblock %}

{% block content %}
<head>
  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script>tinymce.init({ 
  selector: 'textarea',
  height: 250,
  menubar: false,
  plugins: [
    'lists print preview',
    'searchreplace visualblocks code fullscreen',
    'insertdatetime table contextmenu paste code'
  ],
  toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
  content_css: '//www.tinymce.com/css/codepen.min.css'
});</script>
</head>
<div class="container">
<div class="panel panel-primary">
  <div class="panel-heading"><h1 class="panel-title">Create/Update Note</h1></div>
  <div class="panel-body">
<form method="POST" class="form-horizontal">
{% csrf_token %}
<table class="table table-condensed table-striped">
{{ form.as_table }}
</table>
<input formnovalidate type="Submit" class="btn btn-primary" value="Create/Update Note"/>
</form>
</div>
</div>
</div>
{% endblock %}
