{% extends 'base.html' %}

{% block title %}Note Detail{% endblock %}

{% block content %}


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div class="container">
<div class="jumbotron">
<div class="panel panel-primary">
  <div class="panel-heading"><h1 class="panel-title">Notes Detail</h1></div>
  <div class="panel-body">
<table class="table">
<tr><th>Note Title</th><th>Instructor</th><th>Session Date</th><th>Category</th>
<tr><td>{{notes.note_title}}</td><td>{{notes.note_instructor}}</td><td>{{notes.note_date|date:'m-d-Y'}}</td><td>{{notes.note_category}}</td></tr>
</table>
<h2>Video Link</h2>
<iframe width="560" height="315" src="{{notes.note_vid}}" frameborder="0" allowfullscreen></iframe>
<br><br>
<h2>Note Description</h2>
{{notes.note_text | safe}}
<input type="button" value="Update" class="btn btn-primary" onClick="location.href='{% url 'notes:update' notes.id%}'"/>
<input type="button" value="Delete" class="btn btn-danger" onClick="location.href='{% url 'notes:delete' notes.id%}'"/>
</div>
</div>
</div>
</div>
{% endblock %}
