Hello, {{user}}
{% if user.is_authenticated %}
{% if notes %}
<ul>
  {% for note in notes %}
     <li>
     {{ note.note_title}} -- {{note.note_instructor}} -- {{note.note_date}} <br>
     <input type="button" value="View" onClick="location.href='{% url 'notes:detail' note.id%}'"/>
     <input type="button" value="Update" onClick="location.href='{% url 'notes:update' note.id%}'"/>
     <input type="button" value="Delete" onClick="location.href='{% url 'notes:delete' note.id%}'"/>
     <br><br>
     </li>
  {% endfor %}
</ul>
{% else %}
  <p>No notes are available.</p>
{% endif %}
<a href="{% url "notes:create" %}">Create a new note</a>
<br>
<a href="{% url 'logout' %}?next=/">logout</a>
{% else %}
Please login.
{% endif %}

