{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container">
<div class="jumbotron">
<div class="panel panel-primary">
  <div class="panel-heading"><h1 class="panel-title">About</h1></div>
  <div class="panel-body">
Alok Lal is an avid practitioner of Brazilian Jiu Jitsu at the Renzo Gracie Academy in New York.<br><br>
He is a Software Engineer by trade and a Fitness/Wellness enthusiast.<br><br>
Please feel free to contact him via his email address which can be found on the <a href="{% url 'contact' %}">Contact</a> page.
</div>
</div>
</div>
</div>
{% endblock %}


