{% extends 'base.html' %}

{% block title %}FAQ{% endblock %}

{% block content %}
<div class="container">
<div class="jumbotron">
<div class="panel panel-primary">
  <div class="panel-heading"><h1 class="panel-title">FAQ</h1></div>
  <div class="panel-body">
Q:  Is this site free to use?<br>
A:  Yes, it is.  Or, at least, until resource hits capacity on heroku.<br>
<br>
Q:  What was used to build this site?<br>
A:  Python using the Django Web Framework, Free hosting by Heroku, Postgres RDBMS, Bootstrap JS for a simple, aesthetic Front End.<br>
  </div>
</div>
</div>
</div>
{% endblock %}
